#keys-view {
    gap: 10px;
}

#keys-view .radio {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-bottom: 10px;
    flex-direction: row;
}

#keys-view .radio label {
    background-color: #212728;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    color: white;
}

#keys-view .radio label input {
    display: none;
}

#keys-view .radio label:has(input:checked) {
    background-color: var(--active-bg);
}

#keys-view select {
    width: 100%;
    padding: 8px;
    margin-top: 10px;
    border: 1px solid var(--input-border);
    border-radius: 4px;
    background-color: var(--input-bg);
    color: var(--input-text);
    font-size: 20px;
}
#keys-view #combo-list{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
/* --- Single Key Style --- */
.single-key {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    min-width: 40px;
    height: 40px;
    padding: 5px 10px;
    margin: 5px;
    background-color: var(--key-bg);
    border: 1px solid var(--key-border);
    border-radius: 4px;
    box-shadow: 0 3px 0 var(--key-border),
    0 4px 0 var(--key-shadow);
    font-family: 'Segoe UI', 'Roboto', sans-serif;
    font-size: 1.2em;
    font-weight: bold;
    color: var(--key-text);
    text-transform: uppercase;
    cursor: default;
    user-select: none;
    transition: all 0.05s ease-out;
    position: relative;
}

.single-key .delete-key {
    position: absolute;
    width: 20px;
    height: 20px;
    top: -5px;
    right: -5px;
    border-radius: 50%;
    cursor: pointer;
    background-color: #212728;
    border: 1px solid #666666;
}

.single-key .delete-key::before,
.single-key .delete-key::after {
    content: '';
    position: absolute;
    width: 2px;
    height: 15px;
    background-color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
}

.single-key .delete-key::after {
    transform: translate(-50%, -50%) rotate(-45deg);
}