.sidebar {
    width: 190px;
    background-color: var(--sidebar-bg);
    padding: 20px;
    display: flex;
    flex-direction: column;
    border-right: 1px solid var(--sidebar-border);
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
}

.sidebar .menu {
    display: flex;
    flex-direction: column;
}

.sidebar .nav-button {
    margin-bottom: 10px;
    background-color: var(--button-bg);
    color: var(--button-text);
}

.sidebar .nav-button.active {
    background-color: var(--button-bg-active);
}

#listen-button {
    margin-top: auto;
    background-color: var(--listen-button-active);
    color: white;
}

#listen-button.running {
    background-color: var(--listen-button-running);
}
