@import "sidebar.css";
@import "keys-view.css";

:root {
    /* --- Dark Theme Variables (Default) --- */
    --body-bg: #1a1a1a;
    --text-color: #e0e0e0;
    --sidebar-bg: #2c2c2c;
    --sidebar-border: #444;
    --button-bg: #3a3a3a;
    --button-bg-active: #1c1c1c;
    --button-text: #e0e0e0;
    --input-bg: #333;
    --input-border: #555;
    --input-border-active: #0082b5;
    --input-text: #e0e0e0;
    --listen-button-running: #f44336;
    --listen-button-active: #4CAF50;
    --active-bg: #007bb5;

    /* --- Keyboard Key Variables (Dark Theme) --- */
    --key-bg: #4a4a4a;
    --key-border: #666666;
    --key-shadow: rgba(0, 0, 0, 0.5);
    --key-text: #f0f0f0;
}

* {
    user-select: none;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
    background-color: var(--body-bg);
    margin: 0;
    color: var(--text-color);
}

.app-container {
    display: flex;
    height: 100vh;
    padding-left: 200px;
}

/* --- Główna zawartość --- */
.content {
    flex-grow: 1;
    padding: 20px;
    background-color: var(--body-bg);
}

.view {
    display: none !important;
}

.view.active {
    display: flex !important;
    flex-direction: column;
}

input[type="text"] {
    width: 90%;
    margin-top: 10px;
    border: 1px solid var(--input-border);
    border-radius: 4px;
    background-color: var(--input-bg);
    color: var(--input-text);
    height: 30px;
    font-size: 20px;
    padding: 20px;
}
select,input{
    outline: none;
}
:is(input, select):focus {
    border-color: var(--input-border-active);
}

#save-button {
    margin-top: 20px;
    background-color: var(--active-bg);
    color: white;
}

button {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    background-color: var(--button-bg);
    color: var(--button-text);
}

button:hover {
    opacity: 0.9;
}
